@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "CynthoNext";
  src: url("~@/assets/font-family/CynthoNextMedium.otf") format("otf");
}

.heading {
  font-family: Cyntho Next;
  font-size: 50px;
  font-weight: 700;
}
.subheading {
  font-family: Cyntho Next;
  font-size: 24px;
  font-weight: 600;
}
.input1 {
  border-radius: 12px;
  background-color: #f3f3f3;
  border: none;
  outline: none;
  font-family: Cyntho Next;
  font-size: 20px;
  font-weight: 400 !important;
  color: #000000 !important;
  padding-left: 1rem;
  width: 100%;
  max-width: 502px !important;
  padding: 20px 0px 20px 1.5rem;
}
.input1::placeholder {
  font-size: 20px;
  font-weight: 400;
  color: #000000 !important;
}
.text3 {
  font-family: Cyntho Next;
  font-size: 16px;
  font-weight: 600;
}
.h1 {
  width: 100% !important;
  max-width: 397px !important;
  height: 60px !important;
  font-family: Cyntho Next !important;
  font-weight: 700px !important;
}

.btn {
  background-color: #1f92d0;
  color: #ffffff !important;
  border-radius: 12px;
  font-family: Cyntho Next !important;
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  max-width: 502px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@keyframes colorChange {
  0% {
    background-color: #1f92d0;
  }
  33% {
    background-color: #1d76be;
  }
  66% {
    background-color: #1067ae;
  }
  100% {
    background-color: #1f92d0;
  }
}

/* Hover styles with animation */
.btn:hover {
  animation: colorChange 3s infinite;
}
form {
  width: 100%;
  max-width: 502px;
}
.forgottext {
  font-family: Cyntho Next;
  font-size: 16px;
  font-weight: 600;
  color: #1f92d0;
}
hr {
  width: 100%;
  max-width: 204px;
  border: 1px solid #000000;
}
.or {
  font-family: cyntho Next;
  font-size: 24px;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 20px;
}
.signintext {
  font-family: Cyntho Next;
  font-size: 20px;
  font-weight: 400;
}
.lastline {
  width: 100% !important  ;
  max-width: 463px !important;
  color: #000000 !important;
}
.ali {
  text-indent: 10px;
  color: #1f92d0;
}

/* Floating Label Styles */
.floating-group {
  position: relative;
}

.floating-label {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  transition: 0.2s ease all;
  pointer-events: none;
  color: #000000; /* You can customize the label color */
  font-family: Cyntho Next;
}

/* Adjust the label position when the input is focused or has content */
.input1:focus + .floating-label,
.input1:not(:placeholder-shown) + .floating-label {
  top: 15px;
  font-size: 12px; /* Optionally reduce font size when label is floating */
  color: #000; /* Optionally change text color when label is floating */
  font-family: Cyntho Next;
}
.bgclr {
  background-color: #f3f3f3;
}
@media screen and (max-width: 992px) {
  form {
    margin-top: 0;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media screen and (max-width: 1157px) {
  .forgottext {
    font-size: smaller;
  }
}
@media screen and (max-width: 1157px) {
  .signintext {
    font-size: smaller;
    word-break: keep-all;
  }
}
@media screen and (max-width: 900px) {
  .input1,
  .btn {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .hello {
    margin-top: 0px;
  }
}
@media screen and (max-width: 480px) {
  .hide {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .hello {
    margin-top: 50px;
  }
}
@media screen and (max-width: 900px) {
  .input1:focus + .floating-label,
  .input1:not(:placeholder-shown) + .floating-label {
    font-size: xx-small;
    top: 10px;
  }
}
@media screen and (max-width: 480px) {
  .subheading {
    font-size: 15px;
  }
}
